/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (max-width: 1600px) {
    a.hero-apy-link,
    .hero-apy-link {
        bottom: 30px;
    }
}
@media all and (max-width: 1490px) {
    .table-box {
        width: 100%;
        max-width: 1300px;
        min-width: auto;
    }
}
@media all and (max-width: 1440px) {
    .main-nav > ul > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media all and (max-width: 1400px) {
    .lenders-list.home-loans .lender-info {
        padding: 32px 26px 40px;
    }
    .hero-value {
        top: 0;
        font-size: 230px;
    }
        .hero-value sup {
            top: -37px;
            padding-left: 12px;
            font-size: 80px;
        }
        .value-info {
            bottom: 24px;
            max-width: 40px;
            font-size: 13px;
        }
}

@media all and (max-width: 1300px) {
    .logo {
        max-width: 240px;
        margin-top: 7px;
    }
    .main-nav > ul > li > a {
        font-size: 18px;
    }
    .login span {
        font-size: 18px;
    }
    .header-login-box {
        max-width: 225px;
    }
    a.forgot, .forgot {
        max-width: 100%;
        padding-bottom: 10px;
    }
}

@media all and (max-width: 1120px) {
    .main-nav > ul > li > a {
        padding-left: 7px;
        padding-right: 7px;
    }
    .footer-coll-list {
        margin-bottom: -40px;
    }
    .footer-coll-list > li {
        width: 33.33%;
        margin-bottom: 40px;
    }
    .footer-coll-list > li.big-coll,
    .footer-coll-list > li.small-coll {
        width: 33.33%;
    }

}

@media all and (max-width: 1080px) {
    .table-cell-box {
        display: table;
        height: auto;
    }
    .table-box .left-box,
    .table-box .right-box {
        float: none;
        width: 100%;
    }
    .table-box .left-box {
        display: table-footer-group;
    }
    .value-box {
        display: inline-block;
    }
    .section-more-links .info-box {
        padding-left: 20px;
        width: 320px;
    }
}

@media all and (max-width: 1024px) {
    .wrapper {
        margin-top: 58px;
    }
    .interesting-list > li:nth-child(2) {
        padding-left: 20px;
    }
    .header-login-box {
        position: absolute;
        display: block;
        width: 58px;
        min-height: 58px;
        right: 0;
        top: 0;
        background-color: transparent;
    }
    .login {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 0;
        text-align: center;
    }
    .login span {
        display: block;
        left: 0;
        margin-top: 19px;
        padding-top: 15px;
        padding-left: 0;
        font-size: 7px;
        text-transform: uppercase;
    }
    .login span:before {
        top: 0;
        left: 50%;
        font-size: 13px;
        line-height: 1;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .login-bottom-box {
        position: fixed;
        z-index: 10000;
        top: 0;
        height: 100%;
        padding: 10px;
        background-color: rgba(1, 1, 1, 0.95);
    }
    .login-bottom-box form {
        display: table;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        padding: 0 15px;
        height: 100vh;
        overflow-x: auto;
    }
    .login-bottom-box  ul {
        display: table-cell;
        width: 100%;
        height: 50px;
        vertical-align: middle;
    }
    .login-bottom-box .close-btn {
        display: block;
    }
    a.btn-login, .btn-login {
        max-width: 100%;
        padding: 20px 40px 16px 18px;
        letter-spacing: .2em;
    }
    a.forgot,
    .forgot {
        margin: 28px auto;
        max-width: 100%;
        display: block;
        font-size: 16px;
        text-align: center;
        letter-spacing: .02em;
    }
    .desktop {
        display: none !important;
    }

    .mobile-menu-wrap,
    .mobile-category-toggle,
    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu-wrap .header-btn-box {
        display: block;
        margin: 0 25px 35px;
        float: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        min-height: 58px;
    }
    .logo {
        position: relative;
        top: 4px;
        float: none;
        max-width: 181px;
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .desktop-logo { display: none; }
    .mob-logo { display: block; }
}

@media all and (max-width: 991px) {
    .alert-box .container {
        position: relative;
    }
    .alert-box .close-btn {
        top: -20px;
        right: 7px;
    }
        .alert-title {
            font-size: 18px;
        }
        .alert-desc,
        .alert-desc a {
            font-size: 14px;
        }
        .alert-message {
            padding-right: 60px;
        }
    .title {
        font-size: 32px;
    }
    .interesting-desc {
        font-size: 14px;
    }
    a.btn-small, .btn-small {
        font-size: 12px;
    }
    .section-talk .section-title {
        font-size: 80px;
    }
    .talk-desc {
        font-size: 26px;
    }
    .section-talk .right-box a.btn,
    .section-talk .right-box .btn {
        font-size: 14px;
    }
    .footer-coll-list > li.big-coll {
        width: 40%;
    }
    .hero-value {
        font-size: 200px;
    }
    .hero-value sup {
        top: -32px;
        font-size: 70px;
    }
    .hero-title {
        font-size: 50px;
    }
    .hero-desc {
        font-size: 17px;
    }
    a.btn-big, .btn-big {
        font-size: 16px;
        padding: 23px 60px 20px 32px;
        min-width: 260px;
    }
    .lenders-list > li {
        width: 33.33%;
    }
    .lenders-list > li:nth-child(4n+1) {
        clear: none;
    }
    .lenders-list > li:nth-child(3n+1) {
        clear: both;
    }
    .lender-info {
        min-height: 76px;
    }
        .lender-name {
            font-size: 18px;
        }
        .lender-position {
            font-size: 14px;
        }
.section-banner {
    min-height: 580px;
}
    .business .banner-title {
        margin-bottom: 46px;
        font-size: 76px;
    }
    .section-more-links .info-box,
    .more-links-box {
        display: block;
    }
    .section-more-links .info-box {
        margin-bottom: 40px;
    }
    .section-more-links.personal .info-box {
        width: 100%;
    }
    .more-apy-box {
        display: inline-block;
        margin-right: 60px;
    }
}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {
    .footer-coll-list > li.big-coll {
        width: 50%;
    }
}

@media all and (max-width: 790px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {
    .container {
        max-width: 320px;
        padding: 0 15px;
    }
    #main-content {
        /*display: none;*/
    }


#footer {
    padding-top: 38px;
    padding-bottom: 10px;
}
    #footer .container {
        max-width: 320px;
    }
        .footer-top-box .btn {
            display: none;
        }
        .footer-top-box .or {
            display: none;
        }
        .have-questions {
            font-size: 16px;
        }
            .have-questions a {
                display: block;
                font-size: 25px;
            }
        .footer-coll-list {
            display: none;
        }
        .footer-mob-menu {
            display: block;
            margin-bottom: 30px;
        }
            a.coll-title, .coll-title {
                font-size: 15px;
                line-height: 1;
            }
    .footer-top-box {
        left: 0;
        margin-bottom: 0;
    }
    .footer-middle-box {
        padding-top: 27px;
        padding-bottom: 16px;
    }
    .footer-mob-zip-search {
        display: block;
    }
        .search-zip-style {
            padding: 13px 80px 11px 42px;
        }

            .btn.btn-search {
                padding: 17px 10px 14px;
            }
    .search-zip-box {
        max-width: 250px;
        margin: 0 auto;
    }
    a.coll-title + .search-zip-box,
    .coll-title + .search-zip-box {
        margin-top: 11px;
    }
    .box-right {
        margin-bottom: 4px;
        float: none;
        margin-right: 0;
        text-align: center;
    }
        .img-link {
            margin-left: 13px;
            margin-right: 13px;
        }
            .img-lender {
                position: relative;
                top: -2px;
                max-width: 93px;
            }
            .img-fdic {
                max-width: 48px;
            }
        .footer-box {
            padding-top: 26px;
            padding-bottom: 5px;
            text-align: center;
            border-top: 1px solid #C9C9C9;
        }
            .footer-box span {
                padding-right: 0;
                margin-top: 0;
                font-size: 14px;
            }
    .footer-bottom-box {
        padding-top: 11px;
        border-top: none;
    }
        .power-by {
            display: none;
        }
        .copyright {
            margin-bottom: 5px;
            font-size: 10px;
            text-align: center;
            line-height: 1.8;
            letter-spacing: 0;
            word-spacing: 0;
        }
        .footer-bottom-menu {
            margin-left: 0;
            text-align: center;
        }
            .footer-bottom-menu > li.hide-mob {
                display: none;
            }
            .footer-bottom-menu > li:after {
                height: 10px;
                top: 11px;
            }
                .footer-bottom-menu > li a {
                    font-size: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            a.full-site,
            .full-site {
                display: block;
            }
            .hide-el {
                display: block;
            }

 /*----------MAIN----------*/
.table-cell-box {
    display: table;
    height: auto;
}
    .table-box .left-box,
    .table-box .right-box {
        float: none;
        width: 100%;
    }
    .table-box .left-box {
        display: table-footer-group;
    }
        .hero-title {
            margin-bottom: 31px;
            font-size: 28px;
        }
            .hero-title sup {
                font-size: 16px;
            }
            .table-box {
                min-height: 430px;
                padding-top: 47px;
            }
                .table-box a.btn,
                .table-box .btn {
                    margin-left: 0;
                    margin-right: 34px;
                }
            a.link-underline,
            .link-underline {
                display: inline-block;
                max-width: 60px;
                top: 2px;
                padding-bottom: 6px;
                font-size: 10px;
                line-height: 1.5;
            }
            a.hero-apy-link, .hero-apy-link {
                bottom: 0;
                padding: 14px 42px 13px 15px;
                border-bottom-color: #0055C2;
            }
            a.hero-apy-link:after, .hero-apy-link:after {
                right: 22px;
                font-size: 14px;
            }
                .apy-box {
                    margin-bottom: 2px;
                    font-size: 18px;
                }
                    .apy-box sup {
                        font-size: 12px;
                        top: 1px;
                        padding-left: 0px;
                    }
                    .apy-box span {
                        bottom: 3px;
                        right: -3px;
                        font-size: 5px;
                    }
                .apy-box-desc {
                    font-size: 8px;
                }
    .value-box {
        margin-bottom: 4px;
    }
        .hero-desc {
            display: none;
        }
            .hero-value {
                top: 0;
                font-size: 120px;
            }
            .hero-value sup {
                top: -15px;
                padding-left: 15px;
                font-size: 46px;
            }
                .value-info.desktop-d {
                    display: none;
                }
                .value-info.mob {
                    display: block;
                }
                .value-info {
                    bottom: 17px;
                    right: 0;
                    max-width: 32px;
                    font-size: 18px;
                    letter-spacing: .08em;
                }
    a.btn, .btn,
    .info-box .btn {
        /*min-width: 154px;*/
        font-size: 11px;
        padding: 13px 9px 11px 14px;
    }
    .info-box a.btn,
    .info-box .btn {
        min-width: 160px;
    }
    .info-box a.btn:after,
    .info-box .btn:after {
        font-size: 10px;
        line-height: 10px;
    }
    a.btn:after, .btn:after {
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    a.btn-login, .btn-login {
        padding: 20px 40px 16px 18px;
        font-size: 13px;
    }
    a.btn-big, .btn-big {
        font-size: 13px;
        padding: 20px 51px 16px 25px;
        min-width: 195px;
    }
    a.btn-big:after, .btn-big:after {
        right: 27px;
        font-size: 13px;
        line-height: 1;
    }
    a.btn-small, .btn-small {
        min-width: 154px;
        font-size: 10px;
        padding: 11px 9px 10px 14px;
    }
    a.btn-small:after, .btn-small:after {
        right: 11px;
        font-size: 8px;
    }
    .section-interesting .left-box,
    .section-interesting .right-box {
        display: none;
    }
    .section-interesting .container {
        max-width: 100%;
        padding: 0;
    }
        .interesting-list {
            padding: 0;
        }
            .interesting-list > li {
                display: block;
                width: 100%;
            }
            .interesting-list > li:nth-child(2) {
                padding-left: 0;
            }
                .interesting-box {
                    min-height: 242px;
                    margin: 0 auto;
                    padding: 35px 15px 20px;
                }
                    .title {
                        max-width: 160px;
                        font-size: 21px;

                        margin-bottom: 4px;
                    }
                    .interesting-desc {
                        max-width: 160px;
                        padding-left: 1px;
                        margin-bottom: 19px;
                        font-size: 12px;
                        line-height: 1.45;
                    }
                    .interesting-box .btn,
                    .interesting-box a.btn {
                        margin-left: 2px;
                    }
                .interesting-box-bg {
                    display: block;
                }
.section-talk {
    background-position-x: 80px;
}
    .section-talk .container {
        min-height: 466px;
    }
        .section-talk .left-box,
        .section-talk .right-box {
            width: 100%;
        }
        .section-talk .left-box {display: none}
        .section-talk .right-box {
            padding-top: 44px;
            padding-left: 16px;
            vertical-align: top;
        }
            .section-talk .section-title {
                margin-bottom: 11px;
                font-size: 30px;
            }
            .talk-box {
                margin-left: 2px;
                max-width: 180px;
            }
                .talk-desc {
                    margin-bottom: 30px;
                    margin-left: 3px;
                    font-size: 16px;
                }
            .section-talk .right-box a.btn,
            .section-talk .right-box .btn {
                margin-left: 2px;
                padding: 10px 38px 10px 14px;
                min-width: auto;
                max-width: 242px;
                width: auto;
                font-size: 10px;
            }
            .section-talk .right-box a.btn:after,
            .section-talk .right-box .btn:after {
                right: 10px;
                font-size: 8px;
                line-height: 1;
            }
    .talk-name-box {
        top: auto;
        bottom: 33px;
        max-width: 170px;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
        .talk-name-box {
            max-width: 124px;
            padding: 17px 10px 20px 19px;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.57);
        }
        .talk-name-box:before {
            position: absolute;
            content: '';
            top: 0;
            width: 1000%;
            height: 100%;
            left: -1000%;
            background-color: rgba(255, 255, 255, 0.57);
        }
            .talk-person-name {
                margin-bottom: 3px;
                font-size: 10px;
            }
            .talk-pos {
                font-size: 11px;
                line-height: 1.3;
            }

.section-banner,
.section-banner.business {
    min-height: 416px;
    padding-top: 60px;
    padding-bottom: 60px;
}
    .banner-title,
    .business .banner-title {
        margin-bottom: 24px;
        font-size: 35px;
        line-height: 1.1;
    }
    .section-info .container {
        max-width: 320px;
    }
        .section-info .left-box,
        .section-info .right-box {
            float: none;
            width: 100%;
            padding: 0;
        }
        .section-info .left-box {
            padding-bottom: 40px;
        }
            .section-info .right-box .content {
                padding-left: 0;
            }
.section-info {
    padding-top: 37px;
    padding-bottom: 27px;
}
    a.custom-link, .custom-link {
        display: none;
    }
.content.big {
    font-size: 15px;
}
    .content.big h1, .content.big .h1style,
    .content.big h2, .content.big .h2style,
    .content.big h3, .content.big .h3style,
    .content.big h4, .content.big .h4style,
    .content.big h5, .content.big .h5style,
    .content.big h6, .content.big .h6style {
        margin-top: 19px;
        margin-bottom: 0;
        font-size: 22px;
        line-height: 1.35;
    }
    .content.big h2, .content.big .h2style {font-size: 22px;}
    .content.big h3, .content.big .h3style {font-size: 18px;}
    .content.big h4, .content.big .h4style {font-size: 17px;}
    .content.big h5, .content.big .h5style {font-size: 16px;}
    .content.big h6, .content.big .h6style {font-size: 16px;}
    .content.big a {
        font-size: 15px;
    }

    .section-our-lenders .section-title {
        font-size: 15px;
        max-width: 290px;
        margin: 0 auto 24px;
    }
        .lenders-list {
            max-width: 375px;
            margin: 0 auto;
        }
            .lenders-list > li {
                margin-bottom: 0;
                width: 50%;
            }
            .lenders-list > li:nth-child(3n+1) {
                clear: none;
            }
            .lenders-list > li:nth-child(2n+1) {
                clear: both;
            }
                .lender-name {
                    margin-bottom: 1px;
                    font-size: 12px;
                }
                .lender-position {
                    font-size: 10px;
                    letter-spacing: .02em;
                    max-width: 125px;
                }
                .lender-overlay span {
                    font-size: 11px;
                }
                .lenders-list.home-loans .lender-info,
                .lender-info {
                    padding: 10px 19px 8px;
                    min-height: 61px;
                }
                .lender-info {
                    min-height: 56px;
                }
.section-more-links,
.section-more-links.personal {
    padding-bottom: 20px;
}
    .section-more-links .container {
        max-width: 320px;
    }
        .section-more-links .info-box,
        .more-links-box {
            display: block;
            width: 100%;
            padding: 0;
        }
        .section-more-links .info-box {
            margin-bottom: 30px;
        }
            .more-links-list > li {
                float: none;
                width: 100%;
                padding: 10px 0;
            }
                .info-title {
                    margin-bottom: 5px;
                    font-size: 20px;
                }
                .info-desc {
                    margin-bottom: 20px;
                    font-size: 12px;
                }
                a.more-title, .more-title {
                    font-size: 15px;
                }
                a.more-link, .more-link {
                    font-size: 15px;
                }
    .more-apy-box {
        margin-bottom: 10px;
    }
        .more-apy-box .apy-box-desc {
            margin-bottom: -14px;
            font-size: 16px;
        }
            .more-apy-box .apy-box sup {
                font-size: 25px;
            }
            .more-apy-box .apy-box span {
                bottom: -21px;
                right: -3px;
                font-size: 10px;
            }
    .section-more-links.personal .info-box {
        margin-bottom: 15px;
    }
    .more-apy-box {
        display: block;
        margin-right: 0;
    }
}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {

}

@media all and (max-width: 600px) {

}

@media all and (max-width: 560px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 420px) {

}

@media all and (max-width: 380px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}